html {background-color: blueviolet;
    color: antiquewhite;
    width: 236px;
}
.h1 {
    border: 20px; antiquewhite;
}
body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
h2{

}
div { 
    padding: 25px 25px 25px 25px; 
    margin: 25px 25px 25px 25px;
    display: flex;
    order: 5;
    flex: 5;
    flex-direction: column;
    flex-flow: column wrap;
    align-items: center;
    align-content: stretch;
    justify-content: center;
    flex-basis: auto;
    
}